// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patient-list {
	.patient-name {
		font-size: 18px;
		text-decoration: underline;
	}

	.glyphicon {
		font-size: 18px;
		padding: 5px;
	}
}